h1 {
	FONT-FAMILY: verdana,arial,sans serif; FONT-SIZE: 20pt; FONT-WEIGHT: bold
}
.h2 {
	FONT-FAMILY: verdana,arial,sans serif; FONT-SIZE: 15pt; FONT-WEIGHT: bold
}
.h3 {
	COLOR: #0000ff; FONT-FAMILY: verdana,arial,sans serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold
}
.body {
	COLOR: #3c3c3c; FONT-FAMILY: verdana,arial,sans serif; FONT-SIZE: 10pt
}
.bodyboldblue {
	COLOR: #0000ff; FONT-FAMILY: verdana,arial,sans serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.bodyboldred {
	COLOR: #ff0000; FONT-FAMILY: verdana,arial,sans serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.body2 {
	COLOR: #3c3c3c; FONT-FAMILY: verdana,arial,sans serif; FONT-SIZE: 10pt
}
.bodysmalli {
	COLOR: #3c3c3c; FONT-FAMILY: verdana,arial,sans serif; FONT-SIZE: 9pt; FONT-STYLE: italic; TEXT-ALIGN: center
}
.bodybold {
	COLOR: #3c3c3c; FONT-FAMILY: verdana,arial,sans serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
.body12 {
	COLOR: #3c3c3c; FONT-FAMILY: verdana,arial,sans serif; FONT-SIZE: 12pt
}
.bodybold2 {
	COLOR: #3c3c3c; FONT-FAMILY: verdana,arial,verdana,sans serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold
}
.small {
	COLOR: #3c3c3c; FONT-FAMILY: verdana,arial,sans serif; FONT-SIZE: 7pt
}
.smallbold {
	COLOR: #3c3c3c; FONT-FAMILY: verdana,arial,sans serif; FONT-SIZE: 7pt; FONT-WEIGHT: bold
}
.bodybold3 {
	COLOR: #3c3c3c; FONT-FAMILY: verdana,arial,sans serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.bodybold12 {
	COLOR: #3c3c3c; FONT-FAMILY: verdana,arial,verdana,sans serif; FONT-SIZE: 12pt; FONT-WEIGHT: bold
}
.body8 {
	COLOR: #3c3c3c; FONT-FAMILY: verdana,arial,sans serif; FONT-SIZE: 8pt
}
.bodybold8 {
	COLOR: #3c3c3c; FONT-FAMILY: verdana,arial,sans serif; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.body9 {
	COLOR: #3c3c3c; FONT-FAMILY: verdana,arial,sans serif; FONT-SIZE: 9pt
}
.bodybold9 {
	COLOR: #3c3c3c; FONT-FAMILY: verdana,arial,sans serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
.body11 {
	COLOR: #3c3c3c; FONT-FAMILY: verdana,arial,sans serif; FONT-SIZE: 11pt
}
.bodybold11 {
	COLOR: #3c3c3c; FONT-FAMILY: verdana,arial,sans serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold
}

TR {
	FONT-FAMILY: verdana,arial,sans serif; FONT-SIZE: 10pt
}
TD {
	FONT-FAMILY: verdana,arial,sans serif; FONT-SIZE: 10pt
}
checkbox {
	BORDER-BOTTOM: 1px; BORDER-LEFT: 1px; BORDER-RIGHT: 1px; BORDER-TOP: 1px; FONT-FAMILY: verdana,arial,sans-serif; FONT-SIZE: 9pt; 
}
INPUT {
	BORDER-BOTTOM: 1pt outset; BORDER-LEFT: 1pt outset; BORDER-RIGHT: 1pt outset; BORDER-TOP: 1pt outset; FONT-FAMILY: verdana,arial; FONT-SIZE: 10pt; 
}

TEXTAREA {
	BORDER-BOTTOM: 1pt outset; BORDER-LEFT: 1pt outset; BORDER-RIGHT: 1pt outset; BORDER-TOP: 1pt outset; FONT-FAMILY: verdana,arial; FONT-SIZE: 10pt; 
}
SELECT {
	BORDER-BOTTOM: 1pt solid; BORDER-LEFT: 1pt solid; BORDER-RIGHT: 1pt solid; BORDER-TOP: 1pt solid; FONT-FAMILY: verdana,arial; FONT-SIZE: 10pt; 
}

A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #333333; FONT-VARIANT: normal; TEXT-DECORATION: underline
}
A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #333333; FONT-VARIANT: normal; TEXT-DECORATION: underline
}
A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #333333; FONT-VARIANT: normal; TEXT-DECORATION: underline
}
A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #333333; FONT-VARIANT: normal; TEXT-DECORATION: none
}
